body {background-color:white;}

.container{text-align: center;
margin-top: 23px;}

table{margin:auto}

input{border-radius: 21px;
border: 5px solid black;
font-size: 34px;}

button{font-size: 40px;
background: chartreuse;
width: 102px;
height: 58px;
border-radius: 20px;}

.calculator{background-color: chocolate;
padding: 20px;
border-radius: 20px;
display: inline-block;}